<% if @post.blank? %>
    <h2>No valid post selected</h2>
<% else %>
    <section id="post-detail">
        <%= render 'shared/post_item', user: @user, post: @post, comments: @post.comments, headed: true, show_comments: true %>
    </section>
<% end %>
